build
.project
*.kdev4*
*.tlog
*.opensdf
*.sdf

# Visual Studio
*.sln
*.ncb
*.vcproj
*.opensdf
*.sdf
*.tlog
*.dll
*.pdb
*.exp
*.lib
*.suo

# Output
bin/
lib/
obj/
contrib/
.project
*.kdev4*


# Generated
assimp.pc

# CMake
CMakeCache.txt
CMakeFiles
cmake_install.cmake
cmake_uninstall.cmake
*.dir/
assimp-config.cmake
assimp-config-version.cmake

# Tests
test/results

# Python
__pycache__
*.cache
*.log
*.lastbuildstate
