[submodule "contrib/zip"]
	path = contrib/zip
	url = https://github.com/kuba--/zip.git
[submodule "contrib/utf8cpp"]
	path = contrib/utf8cpp
	url = https://github.com/nemtrif/utfcpp.git
[submodule "contrib/unzip"]
	path = contrib/unzip
	url = https://chromium.googlesource.com/external/github.com/nmoinvaz/minizip
	branch = 1.2
[submodule "contrib/rapidjson"]
	path = contrib/rapidjson
	url = https://github.com/Tencent/rapidjson.git
