before_install:
  - sudo apt-get update -qq
  - sudo apt-get install cmake python3
  - if [ $WINDOWS ]; then sudo apt-get install -qq gcc-mingw-w64-x86-64 g++-mingw-w64-x86-64 binutils-mingw-w64-x86-64 wine ; fi
  - if [ $LINUX ]; then sudo apt-get install -qq freeglut3-dev libxmu-dev libxi-dev ; fi
  - echo -e "#ifndef A_R_H_INC\n#define A_R_H_INC\n#define GitVersion ${TRAVIS_JOB_ID}\n#define GitBranch \"${TRAVIS_BRANCH}\"\n#endif // A_R_H_INC" > revision.h

branches:
  only:
    - master

env:
  global:
    - PV=r8e PLATF=linux-x86_64 NDK_HOME=${TRAVIS_BUILD_DIR}/android-ndk-${PV} PATH=${PATH}:${NDK_HOME}
  matrix:
    - LINUX=1 TRAVIS_NO_EXPORT=YES
    - LINUX=1 TRAVIS_NO_EXPORT=NO
    - LINUX=1 SHARED_BUILD=ON
    - LINUX=1 SHARED_BUILD=OFF
    - WINDOWS=1 TRAVIS_NO_EXPORT=YES
    - WINDOWS=1 TRAVIS_NO_EXPORT=NO
    - WINDOWS=1 SHARED_BUILD=ON
    - WINDOWS=1 SHARED_BUILD=OFF
    - ANDROID=1

language: cpp

compiler:
  - gcc
  - clang

install:
  - if [ $ANDROID ]; then wget -c http://dl.google.com/android/ndk/android-ndk-${PV}-${PLATF}.tar.bz2 && tar xf android-ndk-${PV}-${PLATF}.tar.bz2 ; fi

script:
  - if [ $ANDROID ]; then 
    ant -v -Dmy.dir=${TRAVIS_BUILD_DIR} -f ${TRAVIS_BUILD_DIR}/port/jassimp/build.xml ndk-jni ; 
    elif [ $WINDOWS -a $CC = "gcc" ]; then
    sudo sh -c "wget http://source.winehq.org/git/wine.git/commitdiff_plain/86781a6a524fa336f893ffd0a87373ffd306913c?hp=076edfe9d4b6cd39b6cf41b9f1d3e18688cc8673 -O - | patch -p 1 -d /usr/x86_64-w64-mingw32" ;
    sudo sh -c "wget https://www.winehq.org/pipermail/wine-patches/2012-February/111438.html -O - | patch -p 1 -d /usr/x86_64-w64-mingw32" ;
    cmake -G "Unix Makefiles" -DASSIMP_NO_EXPORT=$TRAVIS_NO_EXPORT -DBUILD_SHARED_LIBS=$SHARED_BUILD -DCMAKE_TOOLCHAIN_FILE=cmake-modules/MinGW_x86_64.cmake ;
    cmake --build . ;
    make install ;
    elif [ $WINDOWS ]; then
    echo "Skip compile with non-gcc setting." ;
    elif [ $RESERVED ]; then
    echo "Reserved condition" ;
    else
    cmake -G "Unix Makefiles" -DASSIMP_ENABLE_BOOST_WORKAROUND=YES -DASSIMP_NO_EXPORT=$TRAVIS_NO_EXPORT -DBUILD_SHARED_LIBS=$SHARED_BUILD ;
    make ;
    sudo make install ;
    sudo ldconfig ;
    cd test/unit ;
    ../../bin/unit ;
    cd ../regression ;
    chmod 755 run.py ;
    ./run.py ;
    echo "==========================================================" ;
    echo "REGRESSION TEST FAILS (results/run_regression_suite_failures.csv)" ;
    cat ../results/run_regression_suite_failures.csv;
    diff ../results/run_regression_suite_failures.csv ../regression/run_regression_suite_failures_whitelisted.csv
    fi
