include CMakeLists.txt
include CMakeSettings.json
include LICENSE
include README.md
include cmake/ClangClCMakeCompileRules.cmake
include cmake/aarch64-linux-gnu.toolchain
include cmake/clang-cl-msvc-windows.cmake
include cmake/clang-cl-msvc-wsl.cmake
include cmake/ios.toolchain.cmake
include cmake/llvm-mingw-cross.cmake
include cmake/llvm-mingw-win64.cmake
include cmake/mingw64-cross.cmake
include cmake/sanitizers/FindASan.cmake
include cmake/sanitizers/FindMSan.cmake
include cmake/sanitizers/FindSanitizers.cmake
include cmake/sanitizers/FindTSan.cmake
include cmake/sanitizers/FindUBSan.cmake
include cmake/sanitizers/asan-wrapper
include cmake/sanitizers/sanitize-helpers.cmake
include doc/README.md
include doc/TODO.md
include doc/composition.md
include doc/docs/index.md
include doc/macros.tex
include doc/mkdocs.yml
include doc/preview_surface.md
include doc/prim_format.md
include doc/usdObj.md
include doc/usd_sourcecode_tour.md
include doc/usdc_format.md
include doc/usdz_note.md
include pyproject.toml
graft python
include setup.py
include src/asset-resolution.cc
include src/asset-resolution.hh
include src/ascii-parser.cc
include src/ascii-parser.hh
include src/ascii-parser-basetype.cc
include src/ascii-parser-timesamples.cc
include src/ascii-parser-timesamples-array.cc
include src/c-tinyusd.cc
include src/c-tinyusd.h
include src/common-macros.inc
include src/composition.hh
include src/crate-format.cc
include src/crate-format.hh
include src/crate-pprint.cc
include src/crate-pprint.hh
include src/crate-reader.cc
include src/crate-reader.hh
include src/crate-writer.cc
include src/crate-writer.hh
include src/define-type-trait.inc
include src/external/filesystem/LICENSE
include src/external/filesystem/README.md
include src/external/filesystem/include/ghc/filesystem.hpp
include src/external/filesystem/include/ghc/fs_fwd.hpp
include src/external/filesystem/include/ghc/fs_impl.hpp
include src/external/filesystem/include/ghc/fs_std_fwd.hpp
include src/external/filesystem/include/ghc/fs_std.hpp
include src/external/glob/include/glob/glob.h
include src/external/glob/LICENSE
include src/external/glob/README.md
include src/external/glob/single_include/glob/glob.hpp
include src/external/glob/source/glob.cpp
include src/external/filesystem/include/ghc/fs_std_impl.hpp
include src/external/LICENSE.miniz
include src/external/LICENSE.ogt_vox.md
include src/external/README.fpng.md
include src/external/dtoa_milo.h
include src/external/dtoa_milo.LICENSE
include src/external/dr_mp3.h
include src/external/dr_wav.h
include src/external/fast_float/LICENSE-APACHE
include src/external/fast_float/LICENSE-MIT
include src/external/fast_float/README.md
include src/external/fast_float/include/fast_float/*.h
include src/external/fpng.cpp
include src/external/fpng.h
include src/external/jsonhpp/LICENSE.MIT
include src/external/jsonhpp/nlohmann/json.hpp
include src/external/jsonhpp/nlohmann/json_fwd.hpp
include src/external/jsteemann/LICENSE
include src/external/jsteemann/README.md
include src/external/jsteemann/atoi.h
include src/external/jsteemann/modification.md
include src/external/linalg.README
include src/external/linalg.UNLICENSE
include src/external/linalg.h
include src/external/miniz.c
include src/external/miniz.h
include src/external/mapbox/eternal/LICENSE.md
include src/external/mapbox/eternal/README.md
include src/external/mapbox/eternal/include/mapbox/eternal.hpp
include src/external/mapbox/earcut/CHANGELOG.md
include src/external/mapbox/earcut/earcut.hpp
include src/external/mapbox/earcut/LICENSE
include src/external/mapbox/earcut/README.md
#include src/external/nanobind/CMakeLists.txt
#include src/external/nanobind/LICENSE
#include src/external/nanobind/README.md
#include src/external/nanobind/cmake/nanobind-config.cmake
#include src/external/nanobind/ext/robin_map/CMakeLists.txt
#include src/external/nanobind/ext/robin_map/LICENSE
#include src/external/nanobind/ext/robin_map/README.md
#include src/external/nanobind/ext/robin_map/cmake/tsl-robin-mapConfig.cmake.in
#include src/external/nanobind/ext/robin_map/include/tsl/robin_growth_policy.h
#include src/external/nanobind/ext/robin_map/include/tsl/robin_hash.h
#include src/external/nanobind/ext/robin_map/include/tsl/robin_map.h
#include src/external/nanobind/ext/robin_map/include/tsl/robin_set.h
#include src/external/nanobind/ext/robin_map/tests/CMakeLists.txt
#include src/external/nanobind/ext/robin_map/tests/custom_allocator_tests.cpp
#include src/external/nanobind/ext/robin_map/tests/main.cpp
#include src/external/nanobind/ext/robin_map/tests/policy_tests.cpp
#include src/external/nanobind/ext/robin_map/tests/robin_map_tests.cpp
#include src/external/nanobind/ext/robin_map/tests/robin_set_tests.cpp
#include src/external/nanobind/ext/robin_map/tests/utils.h
#include src/external/nanobind/ext/robin_map/tsl-robin-map.natvis
#include src/external/nanobind/include/nanobind/nanobind.h
#include src/external/nanobind/include/nanobind/nb_accessor.h
#include src/external/nanobind/include/nanobind/nb_attr.h
#include src/external/nanobind/include/nanobind/nb_call.h
#include src/external/nanobind/include/nanobind/nb_cast.h
#include src/external/nanobind/include/nanobind/nb_class.h
#include src/external/nanobind/include/nanobind/nb_defs.h
#include src/external/nanobind/include/nanobind/nb_descr.h
#include src/external/nanobind/include/nanobind/nb_enums.h
#include src/external/nanobind/include/nanobind/nb_error.h
#include src/external/nanobind/include/nanobind/nb_func.h
#include src/external/nanobind/include/nanobind/nb_lib.h
#include src/external/nanobind/include/nanobind/nb_misc.h
#include src/external/nanobind/include/nanobind/nb_python.h
#include src/external/nanobind/include/nanobind/nb_traits.h
#include src/external/nanobind/include/nanobind/nb_tuple.h
#include src/external/nanobind/include/nanobind/nb_types.h
#include src/external/nanobind/include/nanobind/operators.h
#include src/external/nanobind/include/nanobind/stl/detail/nb_list.h
#include src/external/nanobind/include/nanobind/stl/function.h
#include src/external/nanobind/include/nanobind/stl/list.h
#include src/external/nanobind/include/nanobind/stl/pair.h
#include src/external/nanobind/include/nanobind/stl/shared_ptr.h
#include src/external/nanobind/include/nanobind/stl/string.h
#include src/external/nanobind/include/nanobind/stl/tuple.h
#include src/external/nanobind/include/nanobind/stl/unique_ptr.h
#include src/external/nanobind/include/nanobind/stl/vector.h
#include src/external/nanobind/include/nanobind/tensor.h
#include src/external/nanobind/include/nanobind/trampoline.h
#include src/external/nanobind/src/buffer.h
#include src/external/nanobind/src/common.cpp
#include src/external/nanobind/src/error.cpp
#include src/external/nanobind/src/implicit.cpp
#include src/external/nanobind/src/nanobind/__init__.py
#include src/external/nanobind/src/nb_enum.cpp
#include src/external/nanobind/src/nb_func.cpp
#include src/external/nanobind/src/nb_internals.cpp
#include src/external/nanobind/src/nb_internals.h
#include src/external/nanobind/src/nb_type.cpp
#include src/external/nanobind/src/tensor.cpp
#include src/external/nanobind/src/trampoline.cpp
include src/external/ogt_vox.h
include src/external/pugiconfig.hpp
include src/external/pugixml.LICENSE
include src/external/pugixml.cpp
include src/external/pugixml.hpp
include src/external/pystring.cpp
include src/external/pystring.h
include src/external/pystring.LICENSE
include src/external/simple_match/LICENSE_1_0.txt
include src/external/simple_match/README.md
include src/external/simple_match/include/simple_match/implementation/some_none.hpp
include src/external/simple_match/include/simple_match/simple_match.hpp
include src/external/simple_match/include/simple_match/utility.hpp
include src/external/stb_image.h
include src/external/stb_image_resize.h
include src/external/stb_image_write.h
include src/external/stb_truetype.h
include src/external/string_id/LICENSE
include src/external/string_id/README.md
include src/external/string_id/README.mod.txt
include src/external/string_id/basic_database.hpp
include src/external/string_id/config.hpp
include src/external/string_id/config.hpp.in
include src/external/string_id/config_impl.hpp
include src/external/string_id/database.cpp
include src/external/string_id/database.hpp
include src/external/string_id/error.cpp
include src/external/string_id/error.hpp
include src/external/string_id/generator.cpp
include src/external/string_id/generator.hpp
include src/external/string_id/hash.hpp
include src/external/string_id/string_id.cpp
include src/external/string_id/string_id.hpp
include src/external/tiny-color-io.h
include src/external/tinycolorio.LICENSE
include src/external/tiny_dng_loader.h
include src/external/tiny_dng_writer.h
include src/external/tiny_gltf.cc
include src/external/tiny_gltf.h
include src/external/tiny_obj_loader.cc
include src/external/tiny_obj_loader.h
include src/external/tinyexr.cc
include src/external/tinyexr.h
include src/external/floaxie/README.md
include src/external/floaxie/LICENSE
include src/external/floaxie/floaxie/atof.h
include src/external/floaxie/floaxie/bit_ops.h
include src/external/floaxie/floaxie/cached_power.h
include src/external/floaxie/floaxie/conversion_status.h
include src/external/floaxie/floaxie/default_fallback.h
include src/external/floaxie/floaxie/diy_fp.h
include src/external/floaxie/floaxie/fraction.h
include src/external/floaxie/floaxie/ftoa.h
include src/external/floaxie/floaxie/grisu.h
include src/external/floaxie/floaxie/huge_val.h
include src/external/floaxie/floaxie/integer_of_size.h
include src/external/floaxie/floaxie/k_comp.h
include src/external/floaxie/floaxie/krosh.h
include src/external/floaxie/floaxie/memwrap.h
include src/external/floaxie/floaxie/powers_ten.h
include src/external/floaxie/floaxie/powers_ten_double.h
include src/external/floaxie/floaxie/powers_ten_single.h
include src/external/floaxie/floaxie/prettify.h
include src/external/floaxie/floaxie/print.h
include src/external/floaxie/floaxie/static_pow.h
include src/external/floaxie/floaxie/type_punning_cast.h
include src/handle-allocator.hh
include src/image-loader.cc
include src/image-loader.hh
include src/image-types.hh
include src/image-util.cc
include src/image-util.hh
include src/image-writer.cc
include src/image-writer.hh
include src/integerCoding.cpp
include src/integerCoding.h
include src/io-util.cc
include src/io-util.hh
include src/linear-algebra.cc
include src/linear-algebra.hh
include src/lz4-compression.cc
include src/lz4-compression.hh
include src/math-util.inc
include src/nonstd/expected.hpp
include src/nonstd/optional.hpp
include src/osd/CMakeLists.txt
include src/osd/LICENSE.txt
include src/osd/README.md
include src/osd/opensubdiv/CMakeLists.txt
include src/osd/opensubdiv/far/CMakeLists.txt
include src/osd/opensubdiv/far/bilinearPatchBuilder.cpp
include src/osd/opensubdiv/far/bilinearPatchBuilder.h
include src/osd/opensubdiv/far/catmarkPatchBuilder.cpp
include src/osd/opensubdiv/far/catmarkPatchBuilder.h
include src/osd/opensubdiv/far/error.cpp
include src/osd/opensubdiv/far/error.h
include src/osd/opensubdiv/far/loopPatchBuilder.cpp
include src/osd/opensubdiv/far/loopPatchBuilder.h
include src/osd/opensubdiv/far/patchBasis.cpp
include src/osd/opensubdiv/far/patchBasis.h
include src/osd/opensubdiv/far/patchBuilder.cpp
include src/osd/opensubdiv/far/patchBuilder.h
include src/osd/opensubdiv/far/patchDescriptor.cpp
include src/osd/opensubdiv/far/patchDescriptor.h
include src/osd/opensubdiv/far/patchMap.cpp
include src/osd/opensubdiv/far/patchMap.h
include src/osd/opensubdiv/far/patchParam.h
include src/osd/opensubdiv/far/patchTable.cpp
include src/osd/opensubdiv/far/patchTable.h
include src/osd/opensubdiv/far/patchTableFactory.cpp
include src/osd/opensubdiv/far/patchTableFactory.h
include src/osd/opensubdiv/far/primvarRefiner.h
include src/osd/opensubdiv/far/ptexIndices.cpp
include src/osd/opensubdiv/far/ptexIndices.h
include src/osd/opensubdiv/far/sparseMatrix.h
include src/osd/opensubdiv/far/stencilBuilder.cpp
include src/osd/opensubdiv/far/stencilBuilder.h
include src/osd/opensubdiv/far/stencilTable.cpp
include src/osd/opensubdiv/far/stencilTable.h
include src/osd/opensubdiv/far/stencilTableFactory.cpp
include src/osd/opensubdiv/far/stencilTableFactory.h
include src/osd/opensubdiv/far/topologyDescriptor.cpp
include src/osd/opensubdiv/far/topologyDescriptor.h
include src/osd/opensubdiv/far/topologyLevel.h
include src/osd/opensubdiv/far/topologyRefiner.cpp
include src/osd/opensubdiv/far/topologyRefiner.h
include src/osd/opensubdiv/far/topologyRefinerFactory.cpp
include src/osd/opensubdiv/far/topologyRefinerFactory.h
include src/osd/opensubdiv/far/types.h
include src/osd/opensubdiv/hbr/CMakeLists.txt
include src/osd/opensubdiv/hbr/allocator.h
include src/osd/opensubdiv/hbr/bilinear.h
include src/osd/opensubdiv/hbr/catmark.h
include src/osd/opensubdiv/hbr/cornerEdit.h
include src/osd/opensubdiv/hbr/creaseEdit.h
include src/osd/opensubdiv/hbr/face.h
include src/osd/opensubdiv/hbr/faceEdit.h
include src/osd/opensubdiv/hbr/fvarData.h
include src/osd/opensubdiv/hbr/fvarEdit.h
include src/osd/opensubdiv/hbr/halfedge.h
include src/osd/opensubdiv/hbr/hierarchicalEdit.h
include src/osd/opensubdiv/hbr/holeEdit.h
include src/osd/opensubdiv/hbr/loop.h
include src/osd/opensubdiv/hbr/mesh.h
include src/osd/opensubdiv/hbr/subdivision.h
include src/osd/opensubdiv/hbr/vertex.h
include src/osd/opensubdiv/hbr/vertexEdit.h
include src/osd/opensubdiv/osd/Android.mk
include src/osd/opensubdiv/osd/CMakeLists.txt
include src/osd/opensubdiv/osd/bufferDescriptor.h
include src/osd/opensubdiv/osd/clD3D11VertexBuffer.cpp
include src/osd/opensubdiv/osd/clD3D11VertexBuffer.h
include src/osd/opensubdiv/osd/clEvaluator.cpp
include src/osd/opensubdiv/osd/clEvaluator.h
include src/osd/opensubdiv/osd/clGLVertexBuffer.cpp
include src/osd/opensubdiv/osd/clGLVertexBuffer.h
include src/osd/opensubdiv/osd/clKernel.cl
include src/osd/opensubdiv/osd/clPatchTable.cpp
include src/osd/opensubdiv/osd/clPatchTable.h
include src/osd/opensubdiv/osd/clVertexBuffer.cpp
include src/osd/opensubdiv/osd/clVertexBuffer.h
include src/osd/opensubdiv/osd/cpuD3D11VertexBuffer.cpp
include src/osd/opensubdiv/osd/cpuD3D11VertexBuffer.h
include src/osd/opensubdiv/osd/cpuEvaluator.cpp
include src/osd/opensubdiv/osd/cpuEvaluator.h
include src/osd/opensubdiv/osd/cpuGLVertexBuffer.cpp
include src/osd/opensubdiv/osd/cpuGLVertexBuffer.h
include src/osd/opensubdiv/osd/cpuKernel.cpp
include src/osd/opensubdiv/osd/cpuKernel.h
include src/osd/opensubdiv/osd/cpuPatchTable.cpp
include src/osd/opensubdiv/osd/cpuPatchTable.h
include src/osd/opensubdiv/osd/cpuVertexBuffer.cpp
include src/osd/opensubdiv/osd/cpuVertexBuffer.h
include src/osd/opensubdiv/osd/cudaD3D11VertexBuffer.cpp
include src/osd/opensubdiv/osd/cudaD3D11VertexBuffer.h
include src/osd/opensubdiv/osd/cudaEvaluator.cpp
include src/osd/opensubdiv/osd/cudaEvaluator.h
include src/osd/opensubdiv/osd/cudaGLVertexBuffer.cpp
include src/osd/opensubdiv/osd/cudaGLVertexBuffer.h
include src/osd/opensubdiv/osd/cudaKernel.cu
include src/osd/opensubdiv/osd/cudaPatchTable.cpp
include src/osd/opensubdiv/osd/cudaPatchTable.h
include src/osd/opensubdiv/osd/cudaVertexBuffer.cpp
include src/osd/opensubdiv/osd/cudaVertexBuffer.h
include src/osd/opensubdiv/osd/d3d11ComputeEvaluator.cpp
include src/osd/opensubdiv/osd/d3d11ComputeEvaluator.h
include src/osd/opensubdiv/osd/d3d11LegacyGregoryPatchTable.cpp
include src/osd/opensubdiv/osd/d3d11LegacyGregoryPatchTable.h
include src/osd/opensubdiv/osd/d3d11Mesh.h
include src/osd/opensubdiv/osd/d3d11PatchTable.cpp
include src/osd/opensubdiv/osd/d3d11PatchTable.h
include src/osd/opensubdiv/osd/d3d11VertexBuffer.cpp
include src/osd/opensubdiv/osd/d3d11VertexBuffer.h
include src/osd/opensubdiv/osd/glComputeEvaluator.cpp
include src/osd/opensubdiv/osd/glComputeEvaluator.h
include src/osd/opensubdiv/osd/glLegacyGregoryPatchTable.cpp
include src/osd/opensubdiv/osd/glLegacyGregoryPatchTable.h
include src/osd/opensubdiv/osd/glMesh.h
include src/osd/opensubdiv/osd/glPatchTable.cpp
include src/osd/opensubdiv/osd/glPatchTable.h
include src/osd/opensubdiv/osd/glVertexBuffer.cpp
include src/osd/opensubdiv/osd/glVertexBuffer.h
include src/osd/opensubdiv/osd/glXFBEvaluator.cpp
include src/osd/opensubdiv/osd/glXFBEvaluator.h
include src/osd/opensubdiv/osd/glslComputeKernel.glsl
include src/osd/opensubdiv/osd/glslPatchBSpline.glsl
include src/osd/opensubdiv/osd/glslPatchBoxSplineTriangle.glsl
include src/osd/opensubdiv/osd/glslPatchCommon.glsl
include src/osd/opensubdiv/osd/glslPatchCommonTess.glsl
include src/osd/opensubdiv/osd/glslPatchGregory.glsl
include src/osd/opensubdiv/osd/glslPatchGregoryBasis.glsl
include src/osd/opensubdiv/osd/glslPatchGregoryTriangle.glsl
include src/osd/opensubdiv/osd/glslPatchLegacy.glsl
include src/osd/opensubdiv/osd/glslPatchShaderSource.cpp
include src/osd/opensubdiv/osd/glslPatchShaderSource.h
include src/osd/opensubdiv/osd/glslXFBKernel.glsl
include src/osd/opensubdiv/osd/hlslComputeKernel.hlsl
include src/osd/opensubdiv/osd/hlslPatchBSpline.hlsl
include src/osd/opensubdiv/osd/hlslPatchBoxSplineTriangle.hlsl
include src/osd/opensubdiv/osd/hlslPatchCommon.hlsl
include src/osd/opensubdiv/osd/hlslPatchCommonTess.hlsl
include src/osd/opensubdiv/osd/hlslPatchGregory.hlsl
include src/osd/opensubdiv/osd/hlslPatchGregoryBasis.hlsl
include src/osd/opensubdiv/osd/hlslPatchGregoryTriangle.hlsl
include src/osd/opensubdiv/osd/hlslPatchLegacy.hlsl
include src/osd/opensubdiv/osd/hlslPatchShaderSource.cpp
include src/osd/opensubdiv/osd/hlslPatchShaderSource.h
include src/osd/opensubdiv/osd/mesh.h
include src/osd/opensubdiv/osd/mtlCommon.h
include src/osd/opensubdiv/osd/mtlComputeEvaluator.h
include src/osd/opensubdiv/osd/mtlComputeEvaluator.mm
include src/osd/opensubdiv/osd/mtlComputeKernel.metal
include src/osd/opensubdiv/osd/mtlLegacyGregoryPatchTable.h
include src/osd/opensubdiv/osd/mtlLegacyGregoryPatchTable.mm
include src/osd/opensubdiv/osd/mtlMesh.h
include src/osd/opensubdiv/osd/mtlMesh.mm
include src/osd/opensubdiv/osd/mtlPatchBSpline.metal
include src/osd/opensubdiv/osd/mtlPatchBoxSplineTriangle.metal
include src/osd/opensubdiv/osd/mtlPatchCommon.metal
include src/osd/opensubdiv/osd/mtlPatchCommonTess.metal
include src/osd/opensubdiv/osd/mtlPatchGregory.metal
include src/osd/opensubdiv/osd/mtlPatchGregoryBasis.metal
include src/osd/opensubdiv/osd/mtlPatchGregoryTriangle.metal
include src/osd/opensubdiv/osd/mtlPatchLegacy.metal
include src/osd/opensubdiv/osd/mtlPatchShaderSource.h
include src/osd/opensubdiv/osd/mtlPatchShaderSource.mm
include src/osd/opensubdiv/osd/mtlPatchTable.h
include src/osd/opensubdiv/osd/mtlPatchTable.mm
include src/osd/opensubdiv/osd/mtlVertexBuffer.h
include src/osd/opensubdiv/osd/mtlVertexBuffer.mm
include src/osd/opensubdiv/osd/nonCopyable.h
include src/osd/opensubdiv/osd/ompEvaluator.cpp
include src/osd/opensubdiv/osd/ompEvaluator.h
include src/osd/opensubdiv/osd/ompKernel.cpp
include src/osd/opensubdiv/osd/ompKernel.h
include src/osd/opensubdiv/osd/opencl.h
include src/osd/opensubdiv/osd/opengl.h
include src/osd/opensubdiv/osd/patchBasisCommon.h
include src/osd/opensubdiv/osd/patchBasisCommonEval.h
include src/osd/opensubdiv/osd/patchBasisCommonTypes.h
include src/osd/opensubdiv/osd/tbbEvaluator.cpp
include src/osd/opensubdiv/osd/tbbEvaluator.h
include src/osd/opensubdiv/osd/tbbKernel.cpp
include src/osd/opensubdiv/osd/tbbKernel.h
include src/osd/opensubdiv/osd/types.h
include src/osd/opensubdiv/sdc/CMakeLists.txt
include src/osd/opensubdiv/sdc/bilinearScheme.h
include src/osd/opensubdiv/sdc/catmarkScheme.h
include src/osd/opensubdiv/sdc/crease.cpp
include src/osd/opensubdiv/sdc/crease.h
include src/osd/opensubdiv/sdc/loopScheme.h
include src/osd/opensubdiv/sdc/options.h
include src/osd/opensubdiv/sdc/scheme.h
include src/osd/opensubdiv/sdc/typeTraits.cpp
include src/osd/opensubdiv/sdc/types.h
include src/osd/opensubdiv/tools/stringify/CMakeLists.txt
include src/osd/opensubdiv/tools/stringify/main.cpp
include src/osd/opensubdiv/version.cpp
include src/osd/opensubdiv/version.h
include src/osd/opensubdiv/vtr/CMakeLists.txt
include src/osd/opensubdiv/vtr/array.h
include src/osd/opensubdiv/vtr/componentInterfaces.h
include src/osd/opensubdiv/vtr/fvarLevel.cpp
include src/osd/opensubdiv/vtr/fvarLevel.h
include src/osd/opensubdiv/vtr/fvarRefinement.cpp
include src/osd/opensubdiv/vtr/fvarRefinement.h
include src/osd/opensubdiv/vtr/level.cpp
include src/osd/opensubdiv/vtr/level.h
include src/osd/opensubdiv/vtr/quadRefinement.cpp
include src/osd/opensubdiv/vtr/quadRefinement.h
include src/osd/opensubdiv/vtr/refinement.cpp
include src/osd/opensubdiv/vtr/refinement.h
include src/osd/opensubdiv/vtr/sparseSelector.cpp
include src/osd/opensubdiv/vtr/sparseSelector.h
include src/osd/opensubdiv/vtr/stackBuffer.h
include src/osd/opensubdiv/vtr/triRefinement.cpp
include src/osd/opensubdiv/vtr/triRefinement.h
include src/osd/opensubdiv/vtr/types.h
include src/path-util.cc
include src/path-util.hh
include src/performance.cc
include src/performance.hh
include src/pprinter.cc
include src/pprinter.hh
include src/composition.cc
include src/composition.hh
include src/prim-pprint.hh
include src/prim-reconstruct.cc
include src/prim-reconstruct.hh
include src/prim-types.cc
include src/prim-types.hh
include src/primvar.cc
include src/primvar.hh
include src/pxr-compat.cc
include src/pxr-compat.hh
include src/lz4/LICENSE
include src/lz4/lz4.c
include src/lz4/lz4.h
include src/python-bindings.cc
include src/str-util.hh
include src/str-util.cc
include src/stream-reader.hh
include src/stream-writer.hh
include src/subdiv.cc
include src/subdiv.hh
include src/stage.cc
include src/stage.hh
include src/texture-types.hh
include src/tiny-any.inc
include src/tiny-format.cc
include src/tiny-format.hh
include src/tinyusdz.cc
include src/tinyusdz.hh
include src/tiny-variant.hh
include src/token-type.hh
include src/tydra/README.md
include src/tydra/prim-apply.cc
include src/tydra/prim-apply.hh
include src/tydra/render-data.cc
include src/tydra/render-data.hh
include src/tydra/scene-access.cc
include src/tydra/scene-access.hh
include src/tydra/shader-network.cc
include src/tydra/shader-network.hh
include src/tydra/facial.cc
include src/tydra/facial.hh
include src/usd-to-json.cc
include src/usd-to-json.hh
include src/usdGeom.cc
include src/usdGeom.hh
include src/usdLux.cc
include src/usdLux.hh
include src/usdMtlx.cc
include src/usdMtlx.hh
include src/usdObj.cc
include src/usdObj.hh
include src/usdShade.cc
include src/usdShade.hh
include src/usdSkel.cc
include src/usdSkel.hh
include src/usdVox.cc
include src/usdVox.hh
include src/usda-reader.cc
include src/usda-reader.hh
include src/usda-writer.cc
include src/usda-writer.hh
include src/usdc-reader.cc
include src/usdc-reader.hh
include src/usdc-writer.cc
include src/usdc-writer.hh
include src/value-eval-util.hh
include src/value-pprint.cc
include src/value-pprint.hh
include src/value-types.cc
include src/value-types.hh
include src/value-type-macros.inc
include src/xform.hh
include src/xform.cc
include src/audio-loader.cc
include src/audio-loader.hh
include src/external/OpenFBX/LICENSE
include src/external/OpenFBX/README.md
include src/external/OpenFBX/src/ofbx.cpp
include src/external/OpenFBX/src/ofbx.h
include src/usdFbx.cc
include src/usdFbx.hh
recursive-include src/external/pybind11 *
