#lightbox{	position: absolute;	left: 0; width: 100%; z-index: 100; text-align: center; line-height: 0;}
#lightbox img{ width: auto; height: auto;}
#lightbox a img{ border: none; }

#outerImageContainer{ position: relative; background-color: #fff; width: 250px; height: 250px; margin: 0 auto; }
#imageContainer{ padding: 10px; }

#loading{ position: absolute; top: 40%; left: 0%; height: 25%; width: 100%; text-align: center; line-height: 0; }
#hoverNav{ position: absolute; top: 0; left: 0; height: 100%; width: 100%; z-index: 10; }
#imageContainer>#hoverNav{ left: 0;}
#hoverNav a{ outline: none;}

#prevLink, #nextLink{ width: 49%; height: 100%; background-image: url(data:image/gif;base64,AAAA); /* Trick IE into showing hover */ display: block; }
#prevLink { left: 0; float: left;}
#nextLink { right: 0; float: right;}
#prevLink:hover, #prevLink:visited:hover { background: url(../images/prevlabel.gif) left 15% no-repeat; }
#nextLink:hover, #nextLink:visited:hover { background: url(../images/nextlabel.gif) right 15% no-repeat; }

#imageDataContainer{ font: 10px Verdana, Helvetica, sans-serif; background-color: #fff; margin: 0 auto; line-height: 1.4em; overflow: auto; width: 100%	; }

#imageData{	padding:0 10px; color: #666; }
#imageData #imageDetails{ width: 70%; float: left; text-align: left; }	
#imageData #caption{ font-weight: bold;	}
#imageData #numberDisplay{ display: block; clear: left; padding-bottom: 1.0em;	}			
#imageData #bottomNavClose{ width: 66px; float: right;  padding-bottom: 0.7em; outline: none;}	 	

#overlay{ position: absolute; top: 0; left: 0; z-index: 90; width: 100%; height: 500px; background-color: #000; }

/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0;
	padding: 0;
	background: #777777 url(../images/img01.jpg) repeat-x;
	font: normal 11px Tahoma, Arial, Helvetica, sans-serif;
	color: #666666;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #F49500;
}

h2 {
	text-transform: uppercase;
	font-size: 18px;
}

h3 {
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 11px;
}

p, blockquote, ul, ol {
	line-height: 18px;
	text-align: justify;
}

blockquote {
	padding-left: 20px;
	background: url(../images/img05.gif) repeat-y;
}

a {
	color: #F49500;
}

a:hover {
	text-decoration: none;
}

/* Header */

#header {
	width: 760px;
	height: 180px;
	margin: 0 auto;
	background: url(../images/img02.png);
}

#header h1, #header h2 {
	/*text-transform: lowercase;*/
	font-weight: normal;
	color: #ffffff; //#FFFFFF;
}

#header h1 {
	float: left;
	padding: 120px 0 0 20px;
	font-size: 36px;
}

#header h2 {
	float: right;
	padding: 134px 20px 0 0;
	font-size: 22px;
}

/* Menu */

#menu {
	width: 760px;
	height: 50px;
	margin: 0 auto;
}

#menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#menu li {
	display: inline;
}

#menu a {
	display: block;
	float: left;
	padding: 17px 20px 0 20px;
	background: url(../images/img03.gif) no-repeat;
	text-transform: uppercase;
	text-decoration: none;
	font: bold 12px "Trebuchet MS", Arial, Helvetica, sans-serif;
	color: #D8D8D8;
}

#menu a:hover {
	color: #FFFFFF;
}

#menu .first a {
	background: none;
}

/* Content */

#content {
	width: 720px;
	margin: 0 auto 20px auto;
	padding: 20px;
	background: #FFFFFF url(../images/img04.jpg) repeat-x left bottom;
}

/* Posts */

#posts {
	float: left;
	width: 480px;
}

/* Posts - full length */

#posts_fl {
	float: center;
	width: 680px;
}

/* Links */

#links {
	float: right;
	width: 200px;
	padding-left: 20px;
	background: url(../images/img05.gif) repeat-y;
}

#links ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#links li ul {
	padding: 5px 0 30px 0;
}

#links li li {
	padding: 7px 10px;
	background: url(../images/img06.gif) repeat-x left bottom;
}

#links li a {
	text-decoration: none;
}

#links li a:hover {
	text-decoration: underline;
}

#links li i {
	font-style: normal;
	font-size: 9px;
}

#links li h2 {
	font-size: 14px;
}

/* Footer */

#footer {
	height: 100px;
	padding: 20px;
	background: #2D2D2D url(../images/img07.gif) repeat-x;
}

#footer p {
	text-align: center;
	color: #999999;
}


